// COLORS
$color-black: #000;
$color-white: #fff;
$color-primary: #d87d4a;
$color-primary-light: #fbaf85;
$color-secondary: #101010;
$color-secondary-light: #4c4c4c;
$color-gray: #f1f1f1;
$color-gray-one: #00000080;
$color-offWhite: #fafafa;
